@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;

  @supports (color: oklch(0% 0 0)) {
    --background: oklch(100% 0.00011 271.152);
    --foreground: oklch(20.463% 0.00002 271.152);
  }
}

html,
body {
  max-inline-size: 100vw;
  overflow-x: hidden;
  background: rgba(6, 249, 255, 1); /* ! Solid Color Fallback */
  background: -moz-linear-gradient(
    top,
    rgba(6, 249, 255, 1) 0%,
    rgba(0, 190, 205, 1) 50%,
    rgba(12, 92, 108, 1) 100%
  ); /* ! Old Firefox Fallback */
  background: -webkit-linear-gradient(
    top,
    rgba(6, 249, 255, 1) 0%,
    rgba(0, 190, 205, 1) 50%,
    rgba(12, 92, 108, 1) 100%
  ); /* ! Old WebKit Fallback */
  background: linear-gradient(
    in oklch 180deg,
    rgba(6, 249, 255, 1) 0%,
    rgba(0, 190, 205, 1) 50%,
    rgba(12, 92, 108, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#06f9ff",endColorstr="#0c5c6c",GradientType=1); /* ! Legacy IE6-9 Filter */

  @supports (color: oklch(0% 0 0)) {
    background: oklch(89.147% 0.15125 197.958); /* ! Solid Color Fallback */
    background: linear-gradient(
      in oklch 180deg,
      oklch(89.147% 0.15125 197.958) 0%,
      oklch(73.125% 0.12487 204.875) 50%,
      oklch(43.859% 0.07414 215.817) 100%
    );
  }
}

body {
  color: var(--foreground);
  --bs-font-sans-serif: "Noto Sans", "Noto Sans JP", "Roboto", sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.not-found,
.error {
  margin-block-start: 5rem;
  text-align: center;
}

.not-found h1,
.error h1 {
  font-size: 3rem;
  margin: 0px;
  font-weight: 900;
  text-transform: uppercase;
  color: #262626;
  /* background: linear-gradient(in oklch 90deg, #f9572a, #ffc905); */
  @supports (color: oklch(0% 0 0)) {
    color: oklch(26.862% 0.00003 271.152);
    /* background: linear-gradient(
      in oklch 90deg,
      oklch(67.008% 0.20566 35.697),
      oklch(85.946% 0.17497 88.889)
    ); */
  }
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Noto Sans", sans-serif;
}

.not-found p,
.error p {
  font-size: 3rem;
  font-weight: 500;
  color: #262626;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(26.862% 0.00003 271.152);
  }
}

.not-found a,
.error a {
  font-size: 3rem;
  font-weight: 500;
  color: #ba9914;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(69.322% 0.13769 92.819);
  }
  text-decoration: inherit;
}

.not-found a:hover,
.error a:hover {
  color: #ab8b09;
  @supports (color: oklch(0% 0 0)) {
    color: oklch(64.797% 0.13064 92.151);
  }
}
