.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  @supports (color: oklch(0% 0 0)) {
    --button-primary-hover: oklch(34.07% 0.00004 271.152);
    --button-secondary-hover: oklch(96.115% 0.00011 271.152);
  }

  display: flex;
  flex-direction: column;
  z-index: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
