.content {
  display: flex;
  /* block-size: 250vh; */
  inline-size: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.search {
  justify-content: center;
  inline-size: 90%;
}

.search p {
  text-align: center;
}

.search ruby {
  ruby-align: space-around;
}
